<!-- templates/display_data.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Data from MongoDB</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Data from MongoDB</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Register NO</th>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for document in data %}
                <tr>
                    <td>{{ document.Name|safe }}</td>
                    <td>{{ document['Register Number'] }}</td>
                    <td>{{ document.From }}</td>
                    <td>{{ document.To }}</td>
                    <td>{{ document.Reason|safe }}</td>
                    <td>
                        <span><button><a href="http://127.0.0.1:5000/approve?register_number={{ document['Register Number'] }}">Approve</a></button></span>
                        <span><button><a href="http://127.0.0.1:5000/reject?register_number={{ document['Register Number'] }}">Reject</a></button></span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
