<!-- templates/display_data.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Data from MongoDB</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>your leave status</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Register NO</th>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
         
                <tr>
                    <td>{{ data.Name|safe }}</td>
                    <td>{{ data['Register Number'] }}</td>
                    <td>{{ data.From }}</td>
                    <td>{{ data.To }}</td>
                    <td>{{ data.Reason|safe }}</td>
                    <td>{{ data.status }}</td>
                </tr>
        
        </tbody>
    </table>
</body>
</html>
